@import url(https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,500,600,700,800,900);

/* menus */
.menu{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    list-style-type: none;
    background-color: #000000cc;
    border-radius: 8px;
}
ion-icon{
    width: 30px;
    height:30px;
    color:#000;
    background-color: #cacaca;
    border-radius: 50%;
    padding: 8px;
}

/* todos */
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Comfortaa';
    background-image: linear-gradient(45deg, #ec044a, #ffa033);
}